<div class="wrap">
  <div class="container">
    <h1>Ask your coach!</h1>
    <form class="form-inline" action="/answer">
      <input class="form-control" type="text" name="question">
      <input class="btn btn-default" type="submit" value="Ask!">
    </form>
  </div>
</div>
